[workspace]
resolver = "2"
members = [
    "crates/ir-tensor",
    "crates/ir-model",
    "crates/ir-sampler",
    "crates/ir-ffi",
]

[workspace.package]
version = "0.1.0"
edition = "2024"
license = "MIT"

[profile.release]
lto = true
codegen-units = 1
opt-level = 3
